@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Default Styles */
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #0c0c22;
  margin: 0;
  padding: 0;
}

/* Buttons Styles */
.button {
  align-items: center;
  background-color: #1a1a33;
  border: none;
  border-radius: 5px;
  color: #aaa6ca;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.25rem;
  font-weight: 500;
  justify-content: center;
  overflow: hidden;
  outline: none;
  position: relative;
  padding: 15px 30px;
  text-transform: capitalize;
  transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
}

.button:focus {
  outline: none;
  border: none;
}

.button span {
  position: relative;
  transition: all 700ms cubic-bezier(0.65, -0.5, 0.255, 1.5) 0s;
  z-index: 2;
}

.button:hover {
  transform: scale(1.1);
}

/* Default Buttons Styles */
.default::after {
  background-color: none;
  border-radius: 50%;
  border: none;
  content: '';
  height: 1px;
  left: 50%;
  outline: none;
  position: absolute;
  top: 50%;
  transform-origin: center;
  transition: 0.8s ease-in-out all;
  width: 1px;
  z-index: 1;
}

.default:hover::after {
  background-color: #21213b;
  transform: scale(300);
}

/* Game Styles */
.main {
  height: 100vh;
  position: relative;
  width: 100vw;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.start-game {
  background-color: #13142a;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  left: -100%;
  position: absolute;
  padding: 1rem;
  text-align: center;
  transition: all 0.3s ease-in;
}

.start-game.show {
  left: auto;
}

.start-game h1 {
  color: #aaa6ca;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

/* Quiz Box Styles */
.quiz-box {
  background-color: #13142a;
  border-radius: 5px;
  left: -100%;
  position: absolute;
  transition: all 0.3s ease;
  min-width: 50vw;
  max-width: 90vw;
}

.quiz-box.show {
  left: auto;
}

.quiz-box .header {
  align-items: center;
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.1);
  color: #aaa6ca;
  display: flex;
  height: 70px;
  justify-content: space-between;
  position: relative;
  padding: 0 1rem;
  z-index: 2;
}

.quiz-box .header .points {
  font-size: 2rem;
  font-weight: 600;
}

.points span {
  text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.quiz-box .header .timer {
  align-items: center;
  background-color: #21213b;
  border: 1px solid #aaa6ca20;
  border-radius: 5px;
  color: #aaa6ca;
  display: flex;
  height: 45px;
  padding: 0 1rem;
}

.quiz-box .header .timer .time-left_text {
  font-size: 1.063rem;
  font-weight: 400;
  user-select: none;
}

.quiz-box .header .timer .time-sec {
  background-color: #1a1a33;
  border: 1px solid #1a1a33;
  border-radius: 5px;
  color: #aaa6ca;
  font-size: 1.125rem;
  font-weight: 500;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  padding: 0 0.5rem;
  text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
  text-align: center;
  user-select: none;
}

.quiz-box .header .time-line {
  background-color: #aaa6ca;
  bottom: 0px;
  height: 3px;
  left: 0px;
  position: absolute;
  transition: all 0.3s ease-in;
}

.section-questions {
  padding: 1rem;
}

.section-questions .que-text {
  color: #aaa6ca;
  font-size: 1.563rem;
  font-weight: 600;
  text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
}

.section-questions .option-list {
  display: block;
  padding: 1.5rem 0;
}

.section-questions .option-list .option {
  align-items: center;
  background-color: #1a1a33;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 1.063rem;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.section-questions .option-list .option:last-child {
  margin-bottom: 0px;
}

.section-questions .option-list .option:hover {
  background-color: #21213b;
}

.section-questions .option-list .option.correct {
  background-color: #11fc4880;
}

.section-questions .option-list .option.incorrect {
  background-color: #fc1b2d80;
}

.section-questions .option-list .option.disabled {
  pointer-events: none;
}

.section-questions .option-list .option .icon i {
  border: 2px solid transparent;
  border-radius: 50%;
  font-size: 0.813rem;
  height: 26px;
  line-height: 24px;
  pointer-events: none;
  text-align: center;
  transition: all 0.3s ease;
  width: 26px;
}

.option-list .option .icon.tick i {
  background-color: #ffffff;
  border-color: #23903c;
  color: #23903c;
}

.option-list .option .icon.cross i {
  background-color: #ffffff;
  border-color: #a42834;
  color: #a42834;
}

.footer-game {
  align-items: center;
  background: #13142a;
  border-top: 1px solid #aaa6ca;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 1rem;
}

.footer-game .total-que span {
  display: flex;
  color: #aaa6ca;
  font-size: 1.25rem;
  text-shadow: 0 0 10px #aaa6ca80, 0 0 10px #aaa6ca80;
  user-select: none;
}

.footer-game .buttons-game,
.footer-game .finish-game_button {
  opacity: 0;
  pointer-events: none;
}

.footer-game .finish-game_button {
  right: 0;
  position: absolute;
  padding-right: 1rem;
}

.footer-game .buttons-game.show,
.footer-game .finish-game_button.show {
  opacity: 1;
  pointer-events: auto;
}

.footer-game .buttons-game .game-button::after,
.footer-game .finish-game_button .game-button::after {
  border-right: 60px solid transparent;
  content: '';
  left: -200%;
  position: absolute;
  top: 0;
  transition: 0.5s ease-in-out all;
  width: 150%;
  z-index: 1;
}

.footer-game .buttons-game .game-button.next-btn::after {
  border-bottom: 60px solid #21213b;
}

.footer-game .buttons-game .game-button.finish-btn::after,
.footer-game .finish-game_button .game-button.finish-btn::after {
  border-bottom: 60px solid #fc1b2d50;
}

.footer-game .buttons-game .game-button:hover::after,
.footer-game .finish-game_button .game-button:hover::after {
  left: 0;
}

.footer-game .buttons-game .next-btn,
.footer-game .buttons-game .finish-btn,
.footer-game .finish-game_button .finish-btn {
  font-size: 1.125rem;
  margin-left: 10px;
  padding: 10px 20px;
}

.footer-game .buttons-game .finish-btn,
.footer-game .finish-game_button .finish-btn {
  background-color: #fc1b2d80;
}
